.catCard {
  border: 1px solid #a9b0b8;
  border-radius: 0px 0px 5px 5px;
}
.catCard__text {
  display: grid;
  place-content: center;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 21px;
  padding: 5px 0;
}
