.dashboardBanner {
  display: grid;
  place-content: center;
}
.dashboardBanner__text {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.dashboardBanner__images {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
}
.dashboardBanner__images::-webkit-scrollbar {
  display: none;
}
.dashboardBanner__image {
  width: 160px;
  height: 80px;
  margin: 0 20px;
}
