.navBar {
  display: flex;
  flex-direction: column;
}
.navBar__top {
  background-color: #0c1724;
  color: #00a449;
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem 5rem;
}
.navBar__login {
  display: flex;
  align-items: center;
  margin: 0 3rem;
}
.navBar__login > img {
  margin: 0 5px;
}
.navBar__button {
  width: 100px;
  height: 32px;
  background: #00a449;
  border-radius: 5px;
  display: grid;
  place-content: center;
  color: white;
  text-decoration: none;
}
.navBar__bottom {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem 3.5rem;
}
.navBar__logo {
  display: flex;
  align-items: center;
}
.navBar__logo > img {
  display: flex;
  align-items: center;
  object-fit: contain;
  width: 40px;
}
.navBar__logo > p {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.navBar__navsBig {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
}
.navBar__nav {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}
.navBar__nav > img {
  margin: 0 5px;
}

.navBar__search {
  background-color: #00a449;
  padding: 10px;
  display: grid;
  place-content: center;
}

/* dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn:hover {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navBar__hamburger {
  display: none;
  visibility: hidden;
}

@media (max-width: 800px) {
  .navBar__bottom {
    justify-content: space-between;
  }
  .navBar__navsBig {
    display: none;
    visibility: hidden;
  }
  .navBar__hamburger {
    display: block;
    visibility: visible;
  }
  .navBar__top {
    padding: 1.5rem 0;
  }
}
