.categories {
  background-color: #ffffff;
  margin-top: 5vh;
}
.categories__contain {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.categories__heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories__heading > h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 3vh;
}
.categories__cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
