.whyTutor {
}
.whyTutor__contain {
  padding: 10vh 20vw;
}
.whyTutor__contain > h2 {
  text-align: center;
  font-size: 2rem;
}

.whyTutor__reasons {
  display: flex;
  flex-direction: column;
}
.whyTutor__row {
  display: flex;
  justify-content: space-between;
  margin: 3vh 0;
}

@media (max-width: 768px) {
  .whyTutor__contain {
    padding: 10vh 5vh;
  }
  .whyTutor__row {
    display: flex;
    flex-direction: column;
  }
}
